<h1>edit confrenz</h1>
<%= form_for @company do |f| %>
  <%= render 'shared/errors', object: @company %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>



<div class="container-fluid">

    <div class="row">
      <div class="col-md-2 sidebar">

        <ul class="nav nav-sidebar">
          <li class="link1">Agenda </li>
          <li class="link2">Prelegenci</li>
          <li class="link3">Uczestnicy</li>
          <li class="link21">Widaomości prywatne</li>
          <li class="link4">Umów spotkanie</li>
          <li class="link5">Umówione spotkanie</li>
          <li class="link6">Informacje: Kontakty, O wydarzeniu, Lokalizacja</li>
          <li class="link7">Sponsorzy</li>
          <li class="link8">Partnerzy</li>
          <li class="link9">Wystawcy</li>
          <li class="link10">Społeczności: Facebook, Twitter</li>
          <li class="link11">Ankieta</li>
          <li class="link12">Prezentacje</li>
          <li class="link13">Przewodnik po mieście</li>
          <li class="link14">Sondaże</li>
          <li class="link15">Komentarze</li>
          <li class="link16">Plan miejsca</li>
          <li class="link17">Galeria</li>
          <li class="link18">Powiadomienia</li>
          <li class="link19">O aplikacji</li>
          <li class="link20">Custom HTML</li>
        </ul>
      </div>


      <ul class="sortable" id="list">
        <ul class="link-1"><%= render 'form_schedule', f: f %></ul>
        <ul class="link-2"><%= render 'form_lecturer', f: f %></ul>
        <ul class="link-3"><%= render 'form_participant', f: f %></ul>
        <ul class="link-21"><%= render 'form_message', f: f %></ul>
        <ul class="link-4"><%= render 'form_make_an_appointment', f: f %></ul>
        <ul class="link-5"><%= render 'form_arranged_appointment', f: f %></ul>
        <ul class="link-6"><%= render 'form_information', f: f %></ul>
        <ul class="link-7"><%= render 'form_sponsor', f: f %></ul>
        <ul class="link-8"><%= render 'form_partner', f: f %></ul>
        <ul class="link-9"><%= render 'form_exhibitor', f: f %></ul>
        <ul class="link-10"><%= render 'form_social_medium', f: f %></ul>
        <ul class="link-11"><%= render 'form_questionnaire', f: f %></ul>
        <ul class="link-12"><%= render 'form_presentation', f: f %></ul>
        <ul class="link-13"><%= render 'form_city_guide', f: f %></ul>
        <ul class="link-14"><%= render 'form_soundingschedule', f: f %></ul>
        <ul class="link-15"><%= render 'form_comment', f: f %></ul>
        <ul class="link-16"><%= render 'form_location_plan', f: f %></ul>
        <ul class="link-17"><%= render 'form_gallery', f: f %></ul>
        <ul class="link-18"><%= render 'form_notification', f: f %></ul>
        <ul class="link-19"><%= render 'form_about', f: f %></ul>
        <ul class="link-20"><%= render 'form_custom', f: f %></ul>
      </ul>
      <!-- <div class="ui-widget">
        <label for="tags">Tags: </label>
        <input id="tags">
      </div>
      <p>Date: <input type="text" id="datepicker"></p>
      <div id="flip">Click to slide the panel down or up</div>
      <div id="panel">Hello world!</div> -->

    </div>
  </div>
    <%= f.submit %>
</div>
<%end%>
