<h1>edit confrenz</h1>
<%= form_for @company do |f| %>
  <%= render 'shared/errors', object: @company %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>



<div class="container-fluid">

    <div class="row">
      <div class="col-md-2 sidebar">

        <ul class="nav nav-sidebar">
          <li class="link1">Agenda </li>
          <li class="link2">Prelegenci</li>
          <li class="link3">Uczestnicy</li>
          <li class="link4">Umów spotkanie</li>
          <li class="link5">Umówione spotkanie</li>
          <li class="link6">Informacje: Kontakty, O wydarzeniu, Lokalizacja</li>
          <li class="link7">Sponsorzy</li>
          <li class="link8">Partnerzy</li>
          <li class="link9">Wystawcy</li>
          <li class="link10">Społeczności: Facebook, Twitter</li>
          <li class="link11">Ankieta</li>
          <li class="link12">Prezentacje</li>
          <li class="link13">Przewodnik po mieście</li>
          <li class="link14">Sondaże</li>
          <li class="link15">Komentarze</li>
          <li class="link16">Plan miejsca</li>
          <li class="link17">Galeria</li>
          <li class="link18">Powiadomienia</li>
          <li class="link19">O aplikacji</li>
          <li class="link20">Custom HTML</li>
        </ul>
      </div>


      <ul class="sortable">
        <ul class="link-1"><%= render 'form_schedule', f: f %></ul>
        <ul class="link-2">Prelegenci</ul>
        <ul class="link-3">Uczestnicy</ul>
        <ul class="link-4">Umów spotkanie</ul>
        <ul class="link-5">Umówione spotkanie</ul>
        <ul class="link-6">Informacje: Kontakty, O wydarzeniu, Lokalizacja</ul>
        <ul class="link-7">Sponsorzy</ul>
        <ul class="link-8">Partnerzy</ul>
        <ul class="link-9">Wystawcy</ul>
        <ul class="link-10">Społeczności: Facebook, Twitter</ul>
        <ul class="link-11">Ankieta</ul>
        <ul class="link-12">Prezentacje</ul>
        <ul class="link-13">Przewodnik po mieście</ul>
        <ul class="link-14">Sondaże</ul>
        <ul class="link-15">Komentarze</ul>
        <ul class="link-16">Plan miejsca</ul>
        <ul class="link-17">Galeria</ul>
        <ul class="link-18">Powiadomienia</ul>
        <ul class="link-19">O aplikacji</ul>
        <ul class="link-20">Custom HTML</ul>
      </ul>
      <!-- <div class="ui-widget">
        <label for="tags">Tags: </label>
        <input id="tags">
      </div>
      <p>Date: <input type="text" id="datepicker"></p>
      <div id="flip">Click to slide the panel down or up</div>
      <div id="panel">Hello world!</div> -->

    </div>
  </div>
    <%= f.submit %>
</div>
<%end%>
