<div class="subjects index">
  <h2>Konferencja<h2>


  <table class='listing' summary="Subject list">
    <tr class="header">
      <th>Tytuł konferencji</th>

    </tr>

    <tr>
      <td><%= @companies.title %> </td>
        <% @companies.schedules.each do |schedule| %>
          <%= schedule.title %>
        <% end %>

        <% @companies.lecturers.each do |lecturer| %>
          <%= lecturer.title %>
        <% end %>

        <% @companies.participants.each do |participant| %>
          <%= participant.title %>
        <% end %>
        <% @companies.messages.each do |message| %>
          <%= message.title %>
        <% end %>

        <% @companies.make_an_appointments.each do |make_an_appointment| %>
          <%= make_an_appointment.title %>
        <% end %>

        <% @companies.arranged_appointments.each do |arranged_appointment| %>
          <%= arranged_appointment.title %>
        <% end %>

        <% @companies.participants.each do |participant| %>
          <%= participant.title %>
        <% end %>
        <% @companies.information.each do |information| %>
          <%= information.title %>
        <% end %>


        <% @companies.sponsors.each do |sponsor| %>
          <%= sponsor.title %>
        <% end %>

        <% @companies.partners.each do |partner| %>
          <%= partner.title %>
        <% end %>

        <% @companies.exhibitors.each do |exhibitor| %>
          <%= exhibitor.title %>
        <% end %>
        <% @companies.social_media.each do |social_media| %>
          <%= social_media.title %>
        <% end %>

        <% @companies.questionnaires.each do |questionnaire| %>
          <%= questionnaire.title %>
        <% end %>

        <% @companies.presentations.each do |presentation| %>
          <%= presentation.title %>
        <% end %>

        <% @companies.city_guides.each do |city_guide| %>
          <%= city_guide.title %>
        <% end %>
        <% @companies.soundings.each do |sounding| %>
          <%= sounding.title %>
        <% end %>


        <% @companies.comments.each do |comment| %>
          <%= comment.title %>
        <% end %>

        <% @companies.location_plans.each do |location_plan| %>
          <%= location_plan.title %>
        <% end %>

        <% @companies.galleries.each do |gallery| %>
          <%= gallery.title %>
        <% end %>

        <% @companies.notifications.each do |notification| %>
          <%= notification.title %>
        <% end %>
        <% @companies.abouts.each do |about| %>
          <%= about.title %>
        <% end %>
        <% @companies.customs.each do |custom| %>
          <%= custom.title %>
        <% end %>





    </tr>

  </table>
</div>
