  <div class="container-fluid">

      <div class="row">
        <div class="col-md-2 sidebar">

          <ul class="nav nav-sidebar">
            <li class="active"><a href="/confrenzs">Agenda <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Prelegenci</a></li>
            <li><a href="#">Uczestnicy</a></li>
            <li><a href="#">Umów spotkanie</a></li>
            <li><a href="#">Umówione spotkanie</a></li>
            <li><a href="#">Informacje: Kontakty, O wydarzeniu, Lokalizacja</a></li>
            <li><a href="#">Sponsorzy</a></li>
            <li><a href="#">Partnerzy</a></li>
            <li><a href="#">Wystawcy</a></li>
            <li><a href="#">Społeczności: Facebook, Twitter</a></li>
            <li><a href="#">Ankieta</a></li>
            <li><a href="#">Prezentacje</a></li>
            <li><a href="#">Przewodnik po mieście</a></li>
            <li><a href="#">Sondaże</a></li>
            <li><a href="#">Komentarze</a></li>
            <li><a href="#">Plan miejsca</a></li>
            <li><a href="#">Galeria</a></li>
            <li><a href="#">Powiadomienia</a></li>
            <li><a href="#">O aplikacji</a></li>
            <li><a href="#">Custom HTML</a></li>
          </ul>
        </div>


          <div class="table-responsive">
            <h3> <%=link_to "Dodaj nową konferencję", new_confrenz_path%> </h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Data konferencji</th>
                  <th>Tytuł</th>
                  <th>Krótki opis</th>


                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= @confrenz.start %></td>
                  <td><%= @confrenz.titile %></td>
                  <td><%= @confrenz.content %></td>
                  <td>
                    <td><%= link_to("Pokaż", confrenz_path(@confrenz), :class => 'action show') %></td>

                    <td><%= link_to("Edytuj", edit_confrenz_path(@confrenz), :class => 'action edit') %></td>

                    <td><%= link_to("Usuń", @confrenz, method: :delete, data: { confirm: 'Are you sure?' }) %></td>
                 </td>

                </tr>
              </tbody>
            </table>
          </div>

      </div>
    </div>
  </div>
